[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "~=6.0"

[dev-packages]
flake8 = "~=7.3"
black = "~=25.9"
pep8-naming = "~=0.15"
pytest = "~=8.4"
isort = "~=6.0"
mypy = "~=1.18"
types-pyyaml = "~=6.0"

[requires]
python_version = "3.12"
